 .Cadastro {
     background-color: red;
     background-size: cover;
//     margin-top: 6vh;
    
       form {
         margin-left: 50px;
         display: flex;
         justify-content: center;
         flex-direction: column;
        h1{
           color:white;
  
         }
       }
     }